*{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}

footer{
    text-align: center;
    background-color: red;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin: 1rem auto;
    max-width: 950px;
}
section{
    border: 1px solid black;
}
img{
    width: 150px;
    height: auto;
}
h1{
    background-color: navy;
    padding: 20px;
    color: white;
    text-align: center;
}
span{
    color: yellow;
    font-size: 0.7em;
}
nav{
    background-color: rgb(36, 35, 35);
    padding: 15px;
}
.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
nav li a{
    color: white;
    text-decoration: none;
}
nav li a:hover{
    background-color: lightgray;
}
.article-1 img{
    float: right;
    padding: 10px;
}
.article-2 img{
    float: left;
    padding: 10px;
}
.country{
    border-bottom: 1px solid black;
}
