@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
    .images {
        grid-template-columns: 1fr;
    }
}